// colors
@primary-color-dark: #2439b0;
@primary-color: #faad14;
@success-color: #52c41a;
@warning-color: #faad14; // warning state color
@error-color: #f5222d;
@text-grey-color: #a1a7bc; // grey text color
@text-color: #28323d; // major text color
@carro-primary-color: #ff5722;