@import './variables.css';

@font-family: var(--font-family);
@font-family-medium: var(--font-family-medium);
@font-family-bold: var(--font-family-bold);
@font-family-semibold: var(--font-family-semibold);

// colors
@primary-color: var(--primary-color);
@success-color: var(--success-color);
@warning-color: var(--warning-color);
@error-color: var(--error-color);
@text-grey-color: var(--text-grey-color);
@text-color: var(--text-color);
@info-color: var(--info-color);
@danger-color: var(--danger-color);
@link-color: var(--link-color);
@pending-color: var(--pending-color);
@disabled-color: var(--disabled-color);
@primary-background-color: var(--primary-background-color);

// screen
// small mobile
@screen-xs-max: var(--screen-xs-max);

// mobile
@screen-sm-min: var(--screen-sm-min);
@screen-sm-max: var(--screen-sm-max);

// tablet
@screen-md-min: var(--screen-md-min);
@screen-md-max: var(--screen-md-max);

// large screen
@screen-lg-min: var(--screen-lg-min);
@screen-lg-max: var(--screen-lg-max);

// extra large screen
@screen-xl-min: var(--screen-xl-min);
@screen-xl-max: var(--screen-xl-max);

// ultra large
@screen-xxl-min: var(--screen-xxl-min);
